# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
.next/
out/

# Misc
.DS_Store
*.pem
*.log
*.swp
*.swo
*~
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
